:root{
    
    --blanco: #FFFFFF;
    --negro: #000000;
    --azulprincipal: #007EA7;
    --trastes: #00A8E8;
    --azuloscuro: #003459;
    --footer: #D3F5FD;

    --fuentePrincipal: 'Krub', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}


.titulo{
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.contenedor{
    max-width: 80rem;
    margin: 0 auto;
}
.navegacion-principal{
    display: flex;
    justify-content:space-around;
    background-color: var(--azulprincipal);
    border-bottom-left-radius: 6% 100%;
    border-top-right-radius: 6% 100%;
    margin-bottom: 5rem;
}

.navegacion-principal a{
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

/** Footer **/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__izquierda {
    border-bottom-right-radius: 20% 100%;
    background-color: var(--azulprincipal);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer__derecha {
    border-bottom-left-radius: 20% 100%;
    grid-column: 3 / 4;
    background-color: var(--azulprincipal);
    grid-row: 1 / 2;
}

.footer__izquierda, .footer__derecha {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__contenido {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem 0 2rem 0;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    background-color: var(--footer);
    margin: 1rem 0 0 0;
}

.footer__contenido--arriba, .footer__contenido--abajo {
    margin: 0;
}

.footer__contenido--arriba {
    font-weight: bold;
    font-size: 1.8rem;
}

.footer__contenido--abajo {
    grid-row: 2 / 3;
}

.footer__imagen {
    width: 7rem;
    height: 9rem;
}