:root{
    
    --blanco: #FFFFFF;
    --negro: #000000;
    --azulprincipal: #007EA7;
    --trastes: #00A8E8;
    --azuloscuro: #003459;
    --footer: #D3F5FD;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}
.navegacion-principal{
    display: flex;
    justify-content:space-around;
    background-color: var(--azulprincipal);
}

.navegacion-principal a{
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}